@charset "UTF-8";
:root {
  /* 컬러 */
  --txt-color:#222;
  --white-color:#fff;
  --main-color1:#FF6B35;
  --main-color2:#22304E;
  --tag-bg:#F3F4F5;
  /* 텍스트 */
  --txt-pc:16px;
  --txt-tablet:0.875rem;
  --txt-mobile:0.75rem;
  --fontsize-24:1.5rem;
  --fontsize-20:1.25rem;
  --fontsize-16:1rem;
  --fontsize-14:0.875rem;
  --fontsize-12:0.75rem;
  /* 박스 그림자 */
  --shadow1:2px 1px 2px 0px rgba(0, 0, 0, 0.32);
}

main {
  width: 100%;
}

.swiper-slide img {
  width: 100%;
}

.swiper-pagination-bullet {
  border-radius: 3px !important;
  transition: 0.3s;
  height: 10px !important;
  transform: translateY(-15px);
}

.swiper-pagination-bullet-active {
  background: var(--main-color2) !important;
  width: 50px !important;
  height: 10px !important;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--white-color) !important;
}

.nav {
  width: 100%;
}
.nav ul {
  width: 1200px;
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
}
.nav ul li img {
  width: 200px;
  height: 200px;
}
.nav ul li p {
  font-size: var(--fontsize-20);
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}

.main_tag {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.main_tag ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main_tag ul li {
  width: 100px;
  text-align: center;
  padding: 10px;
  background: var(--tag-bg);
  border-radius: 30px;
  margin: 15px 10px;
  cursor: pointer;
}

.main_tag ul li.colorchange {
  background: var(--main-color1);
}

.event {
  width: 1200px;
  margin: 100px auto;
}
.event h2 {
  font-size: var(--fontsize-24);
  text-align: center;
}
.event ul {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.event ul li {
  width: 390px;
}
.event ul li img {
  cursor: pointer;
}
.event ul li p:nth-child(2) {
  margin-top: 5px;
  text-align: center;
  cursor: pointer;
  background: var(--main-color2);
  width: 60px;
  font-size: var(--fontsize-12);
  color: var(--white-color);
  line-height: 30px;
  float: right;
}
.event ul li .raffle {
  font-weight: bold;
  transition: 0.3s;
  padding: 0px 5px 0px 10px;
}
.event ul li .raffle:hover {
  color: var(--main-color1);
}
.event ul li .alarm {
  text-decoration: underline;
  transition: 0.3s;
  padding: 0px 5px;
}
.event ul li .alarm:hover {
  color: var(--main-color1);
}
.event ul li p:nth-child(3) {
  font-weight: bold;
  padding-bottom: 10px;
  cursor: pointer;
  padding-top: 50px;
}
.event ul li p:last-child {
  font-size: var(--fontsize-14);
}

@media (max-width: 1024px) and (min-width: 768px) {
  .swiper-pagination-bullet {
    transform: translateY(0px);
  }
  .nav ul {
    width: 100%;
  }
  .nav ul li img {
    width: 130px;
    height: 130px;
  }
  .nav ul li p {
    font-size: var(--fontsize-16);
  }
  .main_tag {
    width: 100%;
    margin: 0 auto;
  }
  .main_tag ul {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    gap: 5px;
  }
  .main_tag ul li {
    font-size: var(--fontsize-14);
    width: 80px;
  }
  .main_tag ul li.colorchange {
    background: var(--main-color1);
  }
  .event {
    width: 100%;
  }
  .event h2 {
    font-size: var(--fontsize-20);
  }
  .event ul {
    justify-content: space-around;
  }
  .event ul li {
    width: 250px;
  }
  .event ul li img {
    width: 250px;
  }
  .event ul li p:nth-child(2) {
    margin-top: 5px;
    text-align: right;
    cursor: pointer;
    font-size: var(--fontsize-12);
    text-align: center;
  }
  .event ul p:nth-child(3) {
    font-weight: bold;
    padding-bottom: 10px;
    cursor: pointer;
    font-size: var(--fontsize-14);
  }
  .event ul p:last-child {
    font-size: var(--fontsize-12);
  }
}
@media (max-width: 767px) {
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 100%;
    height: 20px;
    padding-top: 10px;
    background: #fff;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    transform: translateY(15px);
  }
  .swiper-pagination-bullet {
    transform: translateY(0px);
  }
  .nav ul {
    width: 100%;
  }
  .nav ul li img {
    width: 70px;
    height: 70px;
  }
  .nav ul li p {
    font-size: var(--fontsize-16);
  }
  .main_tag {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background: var(--main-color2);
  }
  .main_tag ul {
    display: block;
  }
  .main_tag ul li {
    font-size: var(--fontsize-14);
    padding: 10px;
    background: var(--tag-bg);
    width: 80px;
    text-align: center;
    border-radius: 30px;
    margin: 23px auto 0px auto;
  }
  .main_tag li.colorchange {
    background: var(--main-color1);
  }
  .event {
    width: 90%;
  }
  .event h2 {
    font-size: var(--fontsize-20);
  }
  .event ul {
    display: block;
  }
  .event ul li {
    width: 100%;
    margin: 30px auto;
  }
  .event ul li img {
    width: 100%;
  }
  .event ul li p:nth-child(2) {
    margin-top: 5px;
    text-align: center;
    font-size: var(--fontsize-12);
  }
  .event ul p:nth-child(3) {
    font-weight: bold;
    padding-bottom: 10px;
    font-size: var(--fontsize-14);
  }
  .event ul p:last-child {
    font-size: var(--fontsize-12);
  }
}/*# sourceMappingURL=main.css.map */